body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

h3 {
  background-color: #FFCE99;
  color: #CD7C4B;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
}

h4 {
  margin-left: 10px;
}

.spencer {
  width: 700px;
  height: 700px;
}

.redText {
  color: red;
}

.friends {
  margin-left: 20px;
}

p {
  color: rgb(16, 62, 168);
}

.topPics, .bottomPics {
  text-align: center;
  float: left;
  margin-right: 50px;
}

.profilePics img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: solid;
  border-color: rgb(16, 62, 168);
  object-fit: cover;
}

.online {
  width: 75px;
  height: 15px;
}
#view {
  float: right;
  margin-right: 100px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 20px;
}
